<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!-- See https://msdn.microsoft.com/en-us/library/ff648345.aspx#paght000022_usingtheactivedirectorymembershipprovider -->
    <add name="ADConnectionString" connectionString="LDAP://SERVER.DOMAIN.XXX/OU=yyyy,OU=zzzz,DC=DOMAIN,DC=XXX" />
  </connectionStrings>

  <!-- Allow script/style paths without login -->
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.web>
    <trace enabled="true" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" name=".WOLAppCookie" cookieless="UseCookies" />
    </authentication>
    <!-- Any page requires login -->
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <!-- Set 'defaultProvider' to use Active Directory Provider !! -->
    <membership defaultProvider="MembershipADProvider">
      <providers>
        <clear />
        <add name="MembershipADProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" 
             connectionStringName="ADConnectionString" connectionUsername="DOMAIN\USER" connectionPassword="PASSWORD" attributeMapUsername="sAMAccountName"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>